:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

@font-face {
  font-family: 'Epilogue';
  src: url(./fonts/Epilogue-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: var(--almost-white);
  color: var(--almost-black);
  font-size: 18px;
}

button {
  background-color: var(--almost-white);
  color: var(--medium-gray);
  border: none;
  cursor: pointer;
  font-family: 'Epilogue', sans-serif;
}

header {
  margin: 1.9rem 1.9rem 1.3rem;
  & #hamburguer-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & #hamburger-menu {
      width: 30px;
      z-index: 999;
    }
    
    & #hamburger-menu:before,
    #hamburger-menu:after,
    #hamburger-menu div {
      background-color: var(--almost-black);  
      content: "";
      display: block;
      height: 3px;
      border-radius: 3px;
      margin: 5px 0;
      transition: 0.5s;
    }
    
    & #hamburger-menu.active:before {
      transform: translateY(8px) rotate(135deg);
      -webkit-transform: translateY(8px) rotate(135deg);
      -moz-transform: translateY(8px) rotate(135deg);
      -ms-transform: translateY(8px) rotate(135deg);
      -o-transform: translateY(8px) rotate(135deg);
    }
    & #hamburger-menu.active:after {
      transform: translateY(-8px) rotate(-135deg);
      -webkit-transform: translateY(-8px) rotate(-135deg);
      -moz-transform: translateY(-8px) rotate(-135deg);
      -ms-transform: translateY(-8px) rotate(-135deg);
      -o-transform: translateY(-8px) rotate(-135deg);
    }
    & #hamburger-menu.active div {
      transform: scale(0);
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
    }
  }

  & nav {
    display: none;
    color: var(--medium-gray);
    &.active {
      display: block;
    }

    & #back {
      background-color: var(--medium-gray);
      opacity: 0.75;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    & #front {
      background-color: var(--almost-white);
      position: absolute;
      top: 0;
      right: 0;
      width: 65%;
      z-index: 1;
      padding: 7rem 1.5rem 2.5rem;

      & ul {
        margin-left: 2rem;
      }
      
      & li {
        list-style: none;
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1.5rem;

        & button {
          width: 85px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 2rem 0;
          font-size: 1.4rem;
          font-weight: 600;
        }
      }

      & a {
        text-decoration: none;
        color: var(--medium-gray);
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      & #btns-container {
        margin-top: 5rem;
        & button {
          display: block;
          margin: 2.5rem auto;
          font-size: 1.4rem;
          font-weight: 600;
        }
      }

      & #register {
        padding: 1rem;
        width: 175px;
        border: 1px solid var(--medium-gray);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
}
    }
  }
}

main {
  display: flex;
  flex-direction: column-reverse;

  & h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 3.5rem;
  }

  & p {
    text-align: center;
    color: var(--medium-gray);
    margin: 0 1.5rem 2rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
    font-weight: 600;

  }

  & button {
    background-color: var(--almost-black);
    color: var(--almost-white);
    font-size: 1.8rem;
    display: block;
    margin: 0 auto 4rem;
    padding: 1.5rem 3rem;
    border: 1px solid var(--almost-black);
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    &:hover {
      background-color: var(--almost-white);
      color: var(--almost-black);
      border: 1px solid var(--almost-black);
    }
  }

  & #logos-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding: 0 .5rem;
    margin-bottom: 4rem;

    & img {
      width: 60px;
    }
  }

  & #hero-image {
    width: 100%;
    margin-bottom: 4rem;
  }
}

@media (min-width: 768px) {
  header {
    & nav {
      & #front {  
        width: 35%;
      }
    }  
  }

  main {
  flex-direction: row;
  column-gap: 10rem;
  align-items: flex-end;
  padding: 0 8%;
 }
}

/* @media (min-width: 1280px) {
  header {
    display: inline-block;
    & #hamburger-menu {
      display: none;
    }
    & nav {
      display: block;
      width: 100%;
      height: 30px;
      border: 1px solid red;
      & #back {
        display: none;
      }
      & #front {
        display: flex;
        justify-content: space-between;
        width: 100%;
        & ul#options-menu {
          display: inline-block;
        }
        & #btns-container {
          margin-top: 0;
          & button {
            display: inline-block;
            margin: 0;
          }
        }
      }
    }  
  }
} */





